@keyframes btnMenu {
    0% {
        background-color: #E0F2F1;
    }

    100% {
        color: white;
        background-color: #00695C;
    }
}

.animate__fadeInDown{
    animation-delay: 0ms;
}

@keyframes btnRecursos{
    0% {
        background-color: #e0f2f1a4;
        border-radius: 10px;
    }

    100% {
        color: #00695C;
        background-color: #ffffff;
        border-radius: 18px;
    }
}

@keyframes btnInvitacion {
    0%{
        background-color: #00695d;
    }
    50%{
        color: #00695C;
        background-color: white;
    }
    100%{
        color: white;
        background-color: #00695d;
    }
}