body{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.errorPNF{
    width: 50%;
}
