@media (max-width:500px) {
    .menu{
        display: none;
        height: 0px;
        width: 0px;
    }
    .logo{
        margin-top: 20px;
        color: white;
        font-size: 6vh;
    }
    .per{
        width: 35vh;
        border-radius: 50%;
        border: 10px solid white;
    }
    .ocupacion{
        font-size: 3vh;
    }
    .bajar{
        display: inline-block;
        width: 7vh;
        margin-top: 10%;
    }

    /*sobre mi*/
    #sobremi{ /*tarjeta*/
        align-items: center;
        align-content: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .quiensoy{
        background-color: white;
        padding: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border: 1px solid #c2c2c2 ;
        border-radius: 10px;
    }
    .presentacion{
        border-radius: 50%;
        width: 30vmin;
        margin-bottom: 10px;
        border: 8px solid #00695C;
    }
    .desc{
        margin-top: 10px;
        text-align: center;
    }

    /*btn Recursos*/
    .recursos{
        margin-left: 0%;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
    }
    .btnRecursos{
        text-decoration: none;
        color: white;
        padding: 1vh;
        border: 1px solid white;
    }
    .btnRecursos:hover{
        animation-name: btnRecursos;
        animation-duration: 800ms;
        animation-fill-mode: both;
        animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    #sobremi-G{ /*tarjeta*/
        display: flex;
        flex-direction: column;
    }
    .quiensoy-B{
        background-color: #00695C;
        margin-bottom: 3vh;
        margin-right: 0vh;
        margin-left: 0vh;
        color: white;
        padding: 10px;
        text-align: center;
        justify-content: center;
        align-items: center;
        align-content: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        border: 1px solid #c2c2c2 ;
        border-radius: 10px;
    }
}