*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/
header{
    background-color: #00695C;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;

}
.logo{
    margin-top: 20px;
    color: white;
    font-size: 9vh;
    margin-bottom: 20px;
}
.per{
    width: 42vh;
    border-radius: 50%;
    border: 10px solid white;
}
.ocupacion{
    font-size: 5vh;
}
.bajar{
    display: none;
}
.menu{
    width: 98.3%;
    background-color: #004D40;
    padding: 18px 10px;
    margin: 10px;
    margin-bottom: 0px;
}
.nav-menu a{
    border-radius: 5px;
    font-size: 17px;
    background-color: white;
    color: #00695C;
    margin-left: 2vh;
    padding: 8px 20px;
    text-decoration: none;
}
.nav-menu a:hover{
    animation-name: btnMenu;
    animation-duration: 800ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*contenido*/
.apartado{ /*titulo*/
    font-size: 28px;
    color: #00695C;
    margin-top: 30px;
    margin-left: 20px;
}
.contenido{ /*contenedor de la tarjeta*/
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    background:#00695db7 url(mexicoPRE.jpg) 10%;
    background-blend-mode: darken;
    padding: 30px 10px;
    border-radius: 10px;
}
#sobremi{ /*tarjeta*/
    display: flex;
    flex-direction: row;
}
.quiensoy{
    background-color: white;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid #c2c2c2 ;
    border-radius: 10px;
}
.presentacion{
    border-radius: 50%;
    width: 30vmin;
    margin-bottom: 10px;
    border: 8px solid #00695C;
}
.desc{
    margin-left: 15px;
    text-align: left;
}

.recursos{
    margin-left: 12%;
    padding: 3vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}
.btnRecursos{
    text-decoration: none;
    color: white;
    padding: 4vh;
    border: 1px solid white;
}
.btnRecursos:hover{
    animation-name: btnRecursos;
    animation-duration: 800ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}