*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

/*Header*/
header{
    background-color: #00695C;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: column;
}
.logo{
    margin-top: 20px;
    color: white;
    font-size: 9vh;
    margin-bottom: 20px;
}
.per{
    width: 42vh;
    border-radius: 50%;
    border: 10px solid white;
}
.ocupacion{
    font-size: 5vh;
}
.bajar{
    display: none;
}
.menu{
    width: 98.3%;
    background-color: #004D40;
    padding: 18px 10px;
    margin: 10px;
    margin-bottom: 0px;
}
.nav-menu a{
    border-radius: 5px;
    font-size: 17px;
    background-color: white;
    color: #00695C;
    margin-left: 2vh;
    padding: 8px 20px;
    text-decoration: none;
}
.nav-menu a:hover{
    animation-name: btnMenu;
    animation-duration: 800ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

/*contenido*/
.apartado{ /*titulo*/
    font-size: 28px;
    color: #00695C;
    margin-top: 30px;
    margin-left: 20px;
}
.contenido{ /*contenedor de la tarjeta*/
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    background:#00695db7 url(mexicoPRE.jpg) 60%;
    background-blend-mode: darken;
    padding: 30px 10px;
    border-radius: 10px;
}
.contenido-general{ /*contenedor de la tarjeta */
    display: block;
    margin-top: 0px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 30px 10px;
    border-radius: 10px;
}
#sobremi{ /*tarjeta*/
    display: flex;
    flex-direction: row;
}
#sobremi-G{ /*tarjeta*/
    align-items: center;
    align-content: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
}
.quiensoy{
    background-color: white;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: row;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid #c2c2c2 ;
    border-radius: 10px;
}
.quiensoy-B{
    margin-right: 3vh;
    margin-left: 3vh;
    background-color: #00695C;
    color: white;
    padding: 20px;
    width: 35vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    border: 1px solid #c2c2c2 ;
    border-radius: 10px;
}
.presentacion{
    border-radius: 50%;
    width: 30vmin;
    margin-bottom: 10px;
    border: 8px solid #00695C;
}
.presentacion-B{
    border-radius: 50%;
    width: 30vmin;
    margin-bottom: 10px;
    border: 8px solid white;
}
.profesion-G{
    margin-top: 2vh;
    margin-bottom: 2vh;
    color: white;
}
.desc{
    margin-left: 15px;
    text-align: left;
    line-height: 21px;
}
.desc-card{
    margin-left: 15px;
    text-align: center;
    line-height: 21px;
}
.contacto-G{
    margin-top: 2vh;
    background-color: white;
    padding: 2vh;
    border-radius: 6px;
    text-decoration: none;
    color: #004D40;
}
.contacto-G:hover{
    background-color: rgba(255, 255, 255, 0.74);
}

.recursos{
    margin-left: 12%;
    padding: 3vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: flex;

}
.btnRecursos{
    text-decoration: none;
    color: white;
    padding: 4vh;
    border: 1px solid white;
}
.btnRecursos:hover{
    animation-name: btnRecursos;
    animation-duration: 800ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.contenido-generalM{
    display: none;
}

/*Tecnologias*/

.contenedor-tec{
    border-radius: 10px;
    background:#00000085 url(technology-g10347b4a0_1920.jpg) 90%;
    background-blend-mode: darken;
    padding: 3vh;
}
.lenguaje{
    display: flex;
    flex-direction: row; 
    align-items: center;
    align-content: center;
    justify-content: center;
}
.tarjeta-Lenguaje{
    margin-top: 3vh;
    display: flex;
    padding: 3vh;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.tarjeta-Lenguaje img{
    width: 20vh;
}
.lenguaje-nombre{
    margin-top: 2vh;
    color: white;
    font-size: 25px;
}
.nover{
    display: none;
}

/*pie de pagina*/
.piedepagina{
    background-color: #004D40;
    display: flex;
    flex-direction: row;
    padding: 2vh;
    color: white;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.piedepagina img{
    width: 4vh;
    margin-left: 3vh;
}

